@import "_global";
.achievementContainer {
  display: flex;
  flex-flow: row wrap;
}
.achievementItem {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > span:first-child {
    color: $primary-color;
    font-weight: bold;
  }
  & > span:last-child {
    color: $color-text-level-2;
  }
}


