@import "_global";
.loginHeader {
  font-size: 2rem;
  color: $primary-color;
  box-sizing: border-box;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  > span {
    margin-left: 0.5rem;
  }
}
.loginContainer {
  width: 100%;
  transform: translateY(40%);
}
